@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #78b8e3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#6d3229;
     /* #78b8e3; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.vb{
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}